---
import Home from './Home.astro';
---

<main
  class='bg-secondary-50 text-secondary-950 dark:bg-darkSecondary-900 dark:text-primary-50'
>
  <Home />
  <div>About Me</div>
  <div>Skills</div>
  <div>Experience</div>
  <div>Projects</div>
  <div>Contact Me</div>
</main>
